.App {
  text-align: center;
}


/* this is for the input box */
.app__form{
  padding: 20px;
  position: fixed;
  bottom: 0; 
  z-index: 1; 
  background-color: gainsboro;
  width: 100%;
  margin: 20px;


  /* -bottom = move the way to bottom:
  -fixed = fix it only to bottom 
  zindex = give priorty in z axis
  width = 100 percent of the screen*/
}

.app__formControl{
  display: flex !important;
  flex-direction: row !important;
}

/* we want input field to take as much room as it nedds to
and icon button to take as minimal room as possible */

.app__input{
  flex: .97;
}

  /* sometimes material ui overides and wont show, so you use !important */
.app__iconButton{
  flex: 0;
}

